<div class="profile">
    {{- with .Site.Params.profileMode }}
    <div class="profile_inner">
        {{- if .imageUrl}}<img src="{{ .imageUrl}}" alt="{{ .imageTitle | default "profile image" }}"
            height="{{- .imageHeight | default 150 -}}" width="{{- .imageWidth | default 150 -}}" />{{- end}}
        <h1>{{- .title | default $.Site.Title | markdownify -}}</h1>
        <span>{{- .subtitle | markdownify -}}</span>
        {{- partial "social_icons.html" $.Site.Params.socialIcons -}}

        {{- with .buttons }}
        <div class="buttons">
            {{- range . -}}
            <a class="button" href="{{ trim .url " " }}" rel="noopener" title="{{ .name | humanize }}">
                <span class="button-inner">{{ .name }}</span>
            </a>
            {{- end -}}
        </div>
        <!--<div class="sayHelloWorld">
            sayHelloWorld
          </div> -->
        {{- end }}
    </div>
    {{- end}}
</div>
<!--script>
    var helloWorldArray = [
  "Hello World",
  "नमस्ते दुनिया",
  "हॅलो वर्ल्ड",
  "ওহে বিশ্ব",
  "હેલો વર્લ્ડ",
  "ಹಲೋ ವರ್ಲ್ಡ್",
  "ഹലോ വേൾഡ്",
  "မင်္ဂလာပါကမ္ဘာလောက",
  "ਸਤਿ ਸ੍ਰੀ ਅਕਾਲ ਦੁਨਿਆ",
  "هيلو ورلڊ",
  "ஹலோ வேர்ல்ட்",
  "హలో వరల్డ్",
  "ہیلو ورلڈ"
];

let hwContainer = document.querySelector(".sayHelloWorld");
let counter = 0;
let interval = setInterval(showHelloWorld, 1000);

function showHelloWorld() {
  hwContainer.innerHTML = helloWorldArray[counter];
  counter++;
  if (counter >= helloWorldArray.length) {
    counter = 0;
  }
}
</script> -->
